<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>864468030022-f9p32icjbskp6rgl2j2ph6utqrd18ovl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864468030022-f9p32icjbskp6rgl2j2ph6utqrd18ovl</string>
	<key>API_KEY</key>
	<string>AIzaSyDyeImMqfyVoCk8Y_2Fnm-HiQAdmumpLu8</string>
	<key>GCM_SENDER_ID</key>
	<string>864468030022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.viajecomdarcy.app</string>
	<key>PROJECT_ID</key>
	<string>viaje-com-darcy</string>
	<key>STORAGE_BUCKET</key>
	<string>viaje-com-darcy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:864468030022:ios:4d69998d41c823a1</string>
	<key>DATABASE_URL</key>
	<string>https://viaje-com-darcy.firebaseio.com</string>
</dict>
</plist>